<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" type="image/x-icon" href="static/assets/images/favicon.png"> 
    <!-- Bootstrap CSS -->
    <link href="static/assets/bootsrtap/css/bootstrap.min.css" rel="stylesheet">   
      <!-- flaticon css   -->
    <link rel="stylesheet" href="static/assets/css/flaticon-set-medical.css">
      <!-- owl css   -->
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css"> 
    <link rel="stylesheet" href="static/assets/css/owl.theme.default.min.css">
    <!-- custom css   -->
    <link rel="stylesheet" href="static/assets/css/style.css">
    <!--    CSS for responsive-->
    <link rel="stylesheet" href="static/assets/css/responsive.css">
     
      <title> Home</title>
</head>

<body> 
<!--preloder start-->
<div class="preloader">
    <div class="spinner">
         <img class="img-fluid" src="static/assets/images/1.gif" alt="">
    </div>
</div>
<!--preloder end-->

<!--   header start -->
    <div class="header-nav"> 
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
            <img class="logo-white" src="static/assets/images/logo.png" alt="">
            <img class="logo-black" src="static/assets/images/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="">
                    <img src="static/assets/images/icon/menu.png" alt="">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link " href="/logon">Signup</a>
                    </li>
                </ul> 
            </div>
        </div>
    </nav> 
    </div>
<!--   header end -->

<br><br><br>

<!--slider area start -->
<section class="slider-area"> 
<div class="slider-content">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-uppercase">Welcome to Dashboard </h1> 
         
            <p style="color: white; font-size: xx-large;">An Interpretable Skin Cancer Classification Using Optimized Convolutional Neural Network for a Smart Healthcare System</p>
            <br>
         
        </div> 
    </div>
</div>
</div>

</section>
<!--slider area end -->
 
<!-- section start   -->
   <div class="container py-5" id="about">
       <div class="row">
           <div class="col-md-6">
               <img src="static/assets/images/Neurology.jpg" class="img-fluid rounded" alt="">
           </div>
           <div class="col-md-6 my-auto">
              <div class="ps-2 ps-sm-5 mt-4 mt-sm-0"> 
               <h5 class="text-uppercase">About </h5>
               
               <p class="text-muted">Skin cancer is a prevalent form of malignancy globally, and its early and accurate diagnosis is critical for patient survival. Clinical evaluation of skin lesions is essential, but it faces challenges such as long waiting times and subjective interpretations. Deep learning techniques have been developed to tackle these challenges and assist dermatologists in making more accurate diagnoses. </p> 
               <p class="text-muted">
                The prediction will be learning well because of the same number of training images. The model has two optimization functions called “Adam” and “RmsProp”. In addition, the model also trained on three activation functions called “Relu”, “Swish” and “Tanh”.
               </p>
               <br>
               
           </div>
           </div>
       </div>
   </div>
<!-- section end   -->
<br><br><br>  
<!--   section start-->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-3 my-sm-0">
                <img src="static/assets/images/logo.png" alt="">
                
                <div class="social">
                    <img src="static/assets/images/icon/facebook.png" alt=""> 
                    <img src="static/assets/images/icon/twitter.png" alt=""> 
                    <img src="static/assets/images/icon/instagram.png" alt=""> 
                    <img src="static/assets/images/icon/pinterest.png" alt=""> 
                </div>
            </div>
            
            <div class="col-md-12">

                <div class="footer-desc mt-5 pt-5">

                    <p class="mb-0 text-center">2023 © <span class="text-white font-weight-bold">Abusayed.</span> Design by Ten30Media</p>

                </div>

            </div>
        </div>
    </div>
</section>
<!--   section end-->
   
<!--   bottom to top -->
    <div class="go-top active">
        <img src="static/assets/images/icon/chevrons.png" alt="">
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="static/assets/bootsrtap/js/bootstrap.bundle.min.js"></script> 
    <script src="static/assets/js/jquery-1.12.4.min.js"></script> 
    <!--  owl js   -->
    <script src="static/assets/js/owl.carousel.js"></script>
    <!--  Custom js   -->
    <script src="static/assets/js/script.js"></script>
    <script src="static/assets/js/form.js"></script>
</body></html>
