<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <link rel="shortcut icon" href="static/images/fav.jpg">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>

    <body class="h-100">
        <div class="container-fluid full-bg h-100">
           <div class="container h-100">
               <div class="row no-margin h-100">
                   <div class="bg-layer d-flex col-md-4">
                        <div class="login-box row">
                            <h3>User login</h3>
                            <form action="/signin" method="GET">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                              </div>
                              <input type="text" class="form-control" name="user" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                              </div>
                              <input type="text" class="form-control" name="password" placeholder="Password" aria-describedby="basic-addon1" required>
                            </div>

                            
                            <p>
                            <label class="container">
                              <input type="checkbox">
                              <span class="checkmark"></span>Remember me
                            </label>
                            forget password ?</p>
                            <button class="btn btn-success" type="submit" >Click to Login</button>
                          </form>
                            <p class="no-c">Not a member yet? <a href="/logon">Create your Account</a></p>
                        </div>
                    </div>    
               </div>
              
               
           </div>
            
        </div>
    </body>

<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>        
<script src="static/js/script.js"></script>


</html>